.body {
  padding: 20px;
  display: flex;
}
.cost-container {
  width: 25%;
  float: right;
  right: 0;
}
.cards-container {
  width: 75%;
  padding-right: 10px;
  float: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cost-container h4 {
  color: darkblue;
}
